<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<%# Listen to the "transactions" stream for changes %>
<%= turbo_stream_from "transactions" %>

<%= turbo_frame_tag "transaction_form" do %>
  <%= render "transactions/form", transaction: @transaction%>
<% end %>

<%# Add any changes to the "transactions" stream here %>
<%= turbo_frame_tag "transactions" do %>
  <%= render @transactions %>
<% end %>
