<p style="color: green"><%= notice %></p>

<%# This is a handy thing to wrap in a turbo frame since it allows %>
<%# us to re-render a specific transaction after the cancel button %>
<%# has been hit on the edit form %>
<%= turbo_frame_tag dom_id(@transaction) do %>
  <%= render @transaction %>
<% end %>

<div>
  <%= link_to "Edit this transaction", edit_transaction_path(@transaction) %> |
  <%= link_to "Back to transactions", transactions_path %>

  <%= button_to "Destroy this transaction", @transaction, method: :delete %>
</div>
